@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --gradient: #a83537;

    --background: -1 33.800000000000004% 3.52%;
    --foreground: -1 5.2% 97.2%;

    --muted: -1 29.12% 13.2%;
    --muted-foreground: -1 5.2% 54.4%;

    --popover: -1 54.6% 5.72%;
    --popover-foreground: -1 5.2% 97.2%;

    --card: -1 54.6% 5.72%;
    --card-foreground: -1 5.2% 97.2%;

    --border: -1 29.12% 13.2%;
    --input: -1 29.12% 13.2%;

    --primary: -1 52% 44%;
    --primary-foreground: -1 5.2% 97.2%;

    --secondary: -1 29.12% 13.2%;
    --secondary-foreground: -1 5.2% 97.2%;

    --accent: -1 29.12% 13.2%;
    --accent-foreground: -1 5.2% 97.2%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: -1 5.2% 97.2%;

    --ring: -1 52% 44%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
